<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask API Server Documentation</title>
</head>
<body>
    <h1> Flask API Server Documentation </h1>
    <font size="5">
    <p> <!-- It is a Paragraph tag for creating the paragraph -->
    <b> Flask </b> is a very popular <i> web framework </i> for <u> Python </u>. <br> <br>In this project, we will be exploring
        API creation using Flask, and how to trigger local scripts, applications etc. through python. So let's begin.
    </p>
    </font>
    <br>
        <img src="{{url_for ('static', filename='excited_minions.gif')}}" style="width:750px">
</body>
</html>
